@tailwind base;
@tailwind components;
@tailwind utilities;

.SignedOut {
  color: #ccc;
  display: flex;
  justify-content: right;
  align-items: right;
  gap: 10px;
  padding: 5px;
  margin: 5px;
  :hover {
    color: #fff;
    background-color: #333;
  }
}
